body{
    margin:0;
    padding: 0;
}

.content{
    margin-left: 10px;
    font-size: 14px;
}

.blackcard{
    width: 20%;
    display: block;
    margin-left: 10px;
    margin-right: 50px;
}

.answers{
    width: 80%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.group{
    display:inline-flex;
    flex-direction: row;
    margin-left:10px;
    margin-right:10px;
    margin-top:5px;
}

.black{
    background-color: black;
    color: white;
    box-shadow: 10px 5px 5px lightgray;
    height: 200px;
    width: 200px;
}

.player, .gameId{
    display:none;
}

.mdc-list-item{
    margin: 0;
    padding: 0;
    width: 99.2%;
    padding-left:10px;
}

.white, .ans{
    display:inline-block;
    box-shadow: 2px 2px 1px black;
    height: 150px;
    width: 150px;
    margin:5px;
}

.selected {
    background-color: #6B8EB7;
}

.unselected {
    background-color: lightgray;
}

.top{
    margin-top:20px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.select{
    width: 100%;
    text-align: center;
}

.cards{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.separator {
    border: 1px dashed #000;
    width: 100%;
    margin-top: 10px;
    margin-bottom:10px;
}

.bottom{
    display:flex;
    flex-direction: row;
}

.game{
    display: none;
}

.text {
    margin:20px;
}

.connect {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choose_btn, .create_btn{
    margin-top: 5px;
    align-items: center;
}

#lobby_info{
    margin-left: 10px;
    margin-right:20px;
    margin-top:20px;
    background-color: lightblue;
    width:250px;
    height: 150px;
    display:flex;
    flex-direction: column;
}

.user_info {
    display: flex;
    flex-direction: row;
}

.name, .score, .selector{
    padding:0;
    margin:5px;
}
.name, .score{
    font-size: 14px;
}
.selector{
    font-size: 20px;
}