body{
    margin:0;
    padding: 0;
}
.content{
    margin-left: 10px;
}
.blackcard{
    width: 20%;
    display: block;
    margin-left: 10px;
    margin-right: 100px;
}

.answers{
    width: 80%;
    display: inline-flex;
    flex-direction: row;
}

.group{
    display:flex;
    flex-direction: row;
    margin:10px;
}

.black{
    background-color: black;
    color: white;
    box-shadow: 10px 5px 5px lightgray;
    height: 200px;
    width: 200px;
    margin-left: 10px;
    margin-right: 100px;
}

.player{
    display:none;
}

.white, .ans{
    background-color: lightgray;
    box-shadow: 2px 2px 1px black;
    height: 150px;
    width: 150px;
    margin: 5px;
}

.top{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.bottom{
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    display: none;
}

.text {
    margin:20px;
}

.connect {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#lobby_info{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}